
h1{
    font-family:'Times New Roman', Times, serif ;
    color: burlywood;
    text-align: center;
}

*{
    box-sizing: border-box;
}

body{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF ;
}

main{
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 30px;
    
    border: 2px solid #DEE2E6; 
    border-radius: 8px;
    margin-top: 25px;
}

.formulario{
        display: grid;
        grid-template-columns: 1fr 1fr; /*Colocar dos columnas */
        row-gap: 5px; /* alejarse en y */
        column-gap: 15px; /* alejarse en x */
 }
 
 #grupo__usuario, #grupo__domicilio {
    grid-column: 1 / span 2; /* usuario y domicilio c/u ocupa dos columnas, se uso ID */
 }

 #container__flex{/*se creo un contenedor para  estado y cp para usar flex */
    display: flex;
    margin-bottom: 10px; /*para alejar boton de guardar, cuando se esconde el parrafo*/
}

#grupo__estado{
    flex-basis: 66.66%; /* Estado ocupa 2/3 de la columna*/
    margin-right: 15px; /* Espacio entre #grupo__estado y #grupo__zip */
                        /* mismo que grid column-gap: 10px en .formulario*/
  }
  
#grupo__zip{ 
    flex-basis: 33.33%; /* Estado ocupa 1/3 de la columna*/
  }


.formulario__label{
    display: block;
    font-weight: 400; /*  400 generalmente se considera normal y 700 se considera negrita */
    padding: 10px;  
    cursor: pointer; /* manita */
}


.formulario__grupo-input{
    position: relative; /* Poner al grupo un posicionamiento relativo */
}

.formulario__input{
    width: 100%;   /*Bajar el icono */
    background: #FFFFFF;
    border: 2px solid #DEE2E6; /* ELIMINAR */
    /* border: 3px solid transparent; */
    border-radius: 8px;
    height: 35px;
    line-height: 45px;
    padding: 0 40px 0 10px;    /* top righ bottom left*/
    transition: .3s ease all;  /* duracion 0.3s, transición suave y gradual, acelerando y desacelerando suavemente en los extremos.*/
}

.formulario__input:focus{/*#######pseudoclase */
    border: 4px solid #C2DBFE;
    outline: none;  /*Quitar contorno predeterminado que se muestra al enfocar un elemento*/
    box-shadow: 3px 0px 30px rgb(163, 163, 163, 0.55);
}

.formulario__input-error{
    font-size: 12px; /*reducir tamaño de letra */
    margin-bottom: 0;
    display: none; /* desaparecer error de los input */
}

.formulario__input-error-activo{ /*#####Modificador */
    display: block; /* aparecer error de los input */
}

 .formulario__validacion-estado{/*#####Modificador */
    position: absolute;  /* Desplazar icono */
    bottom: 10px;
    right: 10px;
    z-index: 100;  /* para que el icono este arriba de otros elementos* / 
    font-size: 15px;  /* tamano icono */
    opacity: 0; /*ocultar el icono */
}

#btn-enviar, .formulario__mensaje{
    grid-column: span 2; /* que abarquen dos columnas boton guardar y Error: Por favor rellene el formulario*/
}

.formulario__mensaje p { /*quitar margenes al parrafo que contiene el msj  de Error de formulario*/
    margin: 0; 
}

.formulario__mensaje{ /* estilo msj de error de formulario */
 line-height: 40px;
 background-color: #DC3545;
 padding: 0 15px;
 border-radius: 3px ;
 display: none; /*ocultar el msj de error de formulario*/
 margin-bottom: 10px;  /*para alejar boton de guardar, cuando aparece el parrafo*/
}

.formulario__mensaje-activo{ /*#####Modificador */
    display: block; 
}

.formulario__btn{
    height: 35px;
    line-height: 25px;
    width: 15%;
    background-color: #0B5ED7;
    color: #FFFFFF;
    /* font-weight: bold; */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .1s ease all;
}

.formulario__btn:hover{ /*#######pseudoclase  cuando se pasa el mouse sobre el*/ 
    box-shadow: 3px 0px 30px rgb(163, 163, 163, 1);
}

.formulario__mensaje-exito{
    font-size: 16px;
    color: #198754;
    display: none;
}

.formulario__mensaje-exito-activo{/*#####Modificador */
    display: block;
}

/*----------------  Estilos para validación-----------*/

/* 

La diferencia entre `.clase1, .clase2 {}` (separados por coma) y `.clase1 .clase2 {}` (separados por espacio) es la forma en que se seleccionan los elementos y se aplica el estilo en CSS.

1. `.clase1, .clase2 {}`: En esta regla CSS, se seleccionarán TODOS los elementos que tengan la clase "clase1" y todos los elementos que tengan la clase "clase2". Es decir, se aplica el estilo a todos los elementos que tengan cualquiera de las dos clases. Por ejemplo:

```html
<div class="clase1">Elemento 1</div>
<p class="clase2">Elemento 2</p>
<span class="clase1">Elemento 3</span>
```

En este caso, los estilos se aplicarían al `div` con la clase "clase1", al `p` con la clase "clase2" y al `span` con la clase "clase1". Los elementos no tienen que tener ambas clases, solo necesitan tener una de ellas para que se les aplique el estilo.

2. `.clase1 .clase2 {}`: En esta regla CSS, se seleccionarán los elementos que tengan la clase "clase2" dentro de un elemento que tenga la clase "clase1". Es decir, se aplica el estilo a los elementos anidados que cumplan esta condición. Por ejemplo:

```html
<div class="clase1">
  <p class="clase2">Elemento 1</p>
  <span>Elemento 2</span>
</div>
```

En este caso, el estilo se aplicaría al `p` con la clase "clase2" porque está dentro de un `div` con la clase "clase1". El `span` no cumple con esta condición, por lo tanto no se le aplicaría el estilo.

En resumen, la diferencia es que usando `,` se seleccionan todos los elementos que tengan al menos una de las clases mencionadas, mientras que usando un espacio entre las clases se seleccionan los elementos anidados que cumplan con la estructura de clase padre e hija.

*/


/* --------------   correctos--*/
.formulario__grupo-correcto .formulario__validacion-estado{/* poner icono en verde*/ 
    color: #198754;
    opacity: 1;
}

.formulario__grupo-correcto .formulario__input{/* poner input en verde */
    border: 3px solid #198754;
}

/*-------------- incorrectos--*/


.formulario__grupo-incorrecto .formulario__validacion-estado{/* poner icono en rojo*/ 
    color: #DC3545;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{/* poner input en rojo */
    border: 3px solid #DC3545;
}


.formulario__grupo-incorrecto .formulario__input-error{  /* poner parrafos  en rojo */
    color: #DC3545;
}

/* 
.formulario__grupo-incorrecto .formulario__label{  //poner label en rojo
    color: #DC3545;
}
*/